# Backend secrets
backend/.env

# Node
node_modules/

# Python
__pycache__/
*.pyc
.venv/
venv/

# Qdrant
qdrant_data/

# Frontend
frontend/dist/
frontend/dist-ssr/

# Logs
*.log

# Editor
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
